.task__single {
    display: flex;
    width: fit-content;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1.5rem;
    background-color: rgb(100, 74, 100);
}

div {
    display: flex;
    align-items: center;
}

.task__single--text {
    flex: 1;
    padding: .3rem;
    border: none;
    font-size: 2rem;
}

.icon {
    margin-left: .5rem;
    font-size: 1rem;
    cursor: pointer;
}